<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LANGUAGE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-list radio-group>

  <ion-item *ngFor="let language of languages">

    <ion-label *ngIf="language.value == current_language">
      {{ language.label | translate }}
    </ion-label>
    <ion-radio *ngIf="language.value == current_language"
               value="{{language.value}}" 
               (click)="changeLanguage(language.value)" 
               checked></ion-radio>

    <ion-label *ngIf="language.value != current_language">
      {{ language.label | translate }}
    </ion-label>
    <ion-radio *ngIf="language.value != current_language" 
               value="{{language.value}}"
               (click)="changeLanguage(language.value)"></ion-radio>

  </ion-item>

</ion-list>

</ion-content>
